<!-- <div>
    <h2>{{storyDetails.id}}</h2>
</div> -->

<div class="col-md-3" style="height:  12rem;margin:5px;">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{storyDetails?.by}}</h5>
                <p class="card-text">{{storyDetails?.title}}</p>
                <a href="{{storyurl}}" [ngClass]="enable ? 'active' : 'disabled'"  class="btn btn-primary">Go to Article</a>
              </div>
            </div>
   </div>
   </div>
   


